<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<RollingRandomAccessFile name="RollingRandomAccessFile" fileName="${main:logFileBaseDir}/app.log" filePattern="${main:logFileBaseDir}/app-%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%c{1}] %-5level - %msg%n"/>
			<Policies>
				<OnStartupTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="20"/>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="RollingRandomAccessFile"/>
		</Root>
	</Loggers>
</Configuration>


